.home__cover {
    background-image: url("../../public/abstract-background.jpg");
    background-position: center;
    background-size: cover;
}

.home__cover__header {
    background-image: url("../../public/abstract-background.jpg");
    background-position: top;
    background-size: cover;
}

.secondary__background {
    background-image: url('../../public/background-v2.jpg');
    background-position: bottom right;
    background-size: cover;
}